<p>
  <mat-toolbar>
    <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-tab-group>
  <mat-tab *ngIf="authService.checkAuthority(['GERENTE'])" label="Adicionar Produto">
    <mat-card>
      <mat-card>
        <form (submit)="postProduct()" [formGroup]="productForm" class="form-container">
          <mat-form-field class="input-container">
            <mat-label>ID</mat-label>
            <input
              disabled
              formControlName="productId"
              matInput>
          </mat-form-field>

          <mat-form-field class="input-container">
            <mat-label>Código de barras</mat-label>
            <input
              autofocus
              formControlName="barCode"
              matInput
              placeholder="Ex. 12346 1811551 5181818">
            <mat-error *ngIf="productForm.get('barCode').hasError('required')">
              Esse campo é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-container">
            <mat-label>Nome do produto</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Ex. Chocolate em pó">
            <mat-error *ngIf="productForm.get('name').hasError('required')">
              Esse campo é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-container">
            <mat-label>Quantidade mínima</mat-label>
            <input
              formControlName="minimumAmount"
              matInput
              placeholder="Ex. 50">
            <mat-error *ngIf="productForm.get('minimumAmount').hasError('required')">
              Esse campo é obrigatório
            </mat-error>
            <mat-error *ngIf="productForm.get('minimumAmount').hasError('pattern')">
              Esse campo aceita somente números
            </mat-error>
            <mat-error *ngIf="productForm.get('minimumAmount').hasError('min')">
              O número tem que ser maior que 0
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-container">
            <mat-label>Saldo inicial</mat-label>
            <input
              formControlName="openBalance"
              matInput
              placeholder="Ex. 50">
            <mat-error *ngIf="productForm.get('openBalance').hasError('required')">
              Esse campo é obrigatório
            </mat-error>
            <mat-error *ngIf="productForm.get('openBalance').hasError('pattern')">
              Esse campo aceita somente números
            </mat-error>
            <mat-error *ngIf="productForm.get('openBalance').hasError('min')">
              O número tem que ser maior que 0
            </mat-error>
          </mat-form-field>
          <button class="product-btn" color="primary" mat-raised-button type="submit">Cadastrar Produto</button>
        </form>

      </mat-card>
    </mat-card>
  </mat-tab>
  <mat-tab label="Cadastrar uma movimentação">
    <mat-card>
      <mat-card>
        <form class="form-container">
          <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Movimento</mat-label>
            <mat-select name="movement">
              <mat-option value="ENTRADA">ENTRADA</mat-option>
              <mat-option value="SAÍDA">SAÍDA</mat-option>
              <mat-option *ngIf="authService.checkAuthority(['GERENTE'])" value="AJUSTE_ENTRADA">
                AJUSTE_ENTRADA
              </mat-option>
              <mat-option *ngIf="authService.checkAuthority(['GERENTE'])" value="AJUSTE_SAÍDA">
                AJUSTE_SAÍDA
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </mat-card>
    </mat-card>
  </mat-tab>
  <mat-tab label="Third"> Content 3</mat-tab>
</mat-tab-group>


