.example-spacer {
  flex: 1 1 auto;
}

.inputs-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.form-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 40%;
}

mat-form-field, .mat-input-element {
  font-size: 18px !important;
}

.product-btn {
  margin-top: 20px;
  font-size: 18px !important;
}

.input-date {
  width: 150px;
}
